import React from 'react';

const {{pascalCase name}}Template = (props) => {
  return (
    <div>
      {/* presentational markup here */}
    </div>
  );
};

export default {{pascalCase name}}Template;
